.block-repair-slider__slide--swiper-two {
  .block-repair-slider__block {
    height: 160px;
  }
  .block-repair-slider__block--text {
    padding: 16px;
    padding-right: 0;
  }
  .block-repair-slider__button {
    margin: 16px;
    margin-top: auto;
    margin-left: auto;
  }
}
